<div id="formId">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="RadioOptions" id="Employee" value="0" v-model="form.identity">
        <label class="form-check-label" for="Employee">職員/教師</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="RadioOptions" id="Student" value="1" v-model="form.identity">
        <label class="form-check-label" for="Student">學生</label>
    </div>
    <div class="mb-3">
        <label for="Target" class="form-label">身分證/學號</label>
        <input type="text" class="form-control" id="Target" v-model="form.target">
    </div>
    <button  class="btn btn-primary" v-on:click="Send">Submit</button>
</div>


<script>
    var form = new Vue({
        el: '#formId',
        ready: function () {
        },
        data: {
            form: {
                identity: '',
                target: ''
            }
        },
        methods: {
            Send: function () {
                ///範例14:取得學年度 採用 ajax post
                var vm = this;
                $.ajax({
                    url: "@Url.Action("AutoComplet", "VueDemo")",
                    type: "get",
                    dataType: 'json',
                    success: function (rdatas) {
                        vm.autoCompletArray = JSON.parse(rdatas.serverModel);
                    },
                    error: function (jqXHR, errorThrown) {
                        alert(errorThrown);
                    }
                });
            }
        },
        created: function () {

        },
        filters: {

        },
        computed: {

        },
        watch: {
        },
    })
</script>